body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    }


ul {
    list-style-type:none;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0px;
    margin-bottom: 0px;
}

ul, ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

img{
    display: block;
}

  *{
  box-sizing: border-box;
   }

    .container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


                                      /* Header */
.header-container{
    display: flex;
    height: 72px;
    width: 1158px;

}

.border{
     border-bottom: 1px solid #e7e9fc;
}


   .page-nav{
    display: flex;
    align-items: baseline;
    align-items: center;
    gap: 40px;
    padding: 24px 0 24px;

   }

   .contacts-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
   }


 .logo{ 
     font-size: 18px;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 21px; 
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.logotip {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
 .link {
    text-decoration: none;
    color: var(--NAVY-BLUE, #2E2F42);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

   
   .contact-link:hover,
   .contact-link:focus {
    color: #404bbf;
}

  .link:hover,
  .link:active,
  .link:focus {
      color: #404bbf;
}

     .contact-link {
    color: #404bbf;
    text-decoration: none;
    color: var(--SLATE, #434455);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.02em;
     }
    



/* sections 1*/

  .first-section {
    background-color: #2E2F42;
    line-height: 1.07;
    height: 600px;
    padding: 188px 0 188px;
}
  

.title {
     color: var(--WHITE, #FFF);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
   
    margin-bottom: 24px;
    display: block;
    max-width: 496px;
}

 .link-click {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 24px;
    min-width: 169px
    border: none; 
    height: 56px;
 }


    .link-click:hover {
        color:#404bbf;
    }

    .link-click:hover,
    .link-click:focus{
    background-color: #404bbf;
   }


/* sections 2*/
   
  .next_section {
    background-color: #FFFFFF;
    padding: 120px 0 120px;
   }

    .menu-container{
    flex-shrink: 0;
    }   

   .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    .title-strategy {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
     margin-bottom: 8px; 
}

     .menu-list{
        width: calc((100% - 72px) / 4);
 }
    .menu{
       display: flex;
       margin-right: auto;
       margin-left: auto;
       gap: 24px; 
     }

/* sections 3*/
  

  .title-team{
    display: block;
    padding-top: 120px;
    margin-bottom: 72px; 
    margin-left: auto;
    margin-right: auto;
     }

  .team-section {
    background-color: #F4F4FD;

}

.text-cont{
  padding: 32px 0 32px;
}

   .list-menu{
    display: flex;
   gap: 24px;
   margin-right: auto;
   padding-bottom: 120px;
   margin-left: auto;
}

   .list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}


   .titles-about-team {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

  .paragraph{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    }

      
    .pr-paragraph{
     text-align: center;
    }
    
                                  /* sections 4*/

.portfolio-section {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}

.portfolio-cont{
 width: calc((100% - 48px) / 3);
}

.section-title {  
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
   }

    
   .menu-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: 1158px;
    margin-right: auto;
    margin-left: auto; 
    }

    .portfolio-section {
        color: #2e2f42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }


   .container-detalis{
    padding: 32px 16px ;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
  

                                /* footer */

.basement{
    background-color:#2E2F42;
    padding: 100px 0 100px;

}

.foot-container{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 1158px;
}
 
.logo-footer {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17
    }    

.text {
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 264px;
display: block;
align-items: flex-start;
margin-bottom: 100px;

}


.logo-web{
    display: block;
    padding-top: 101.5px;
    align-items: flex-start;
    margin-bottom: 17.5px;
    display: inline-block;
    margin-bottom: 16px;
}

