.container {
        width: 1440px;
        height: 72px;
        flex-shrink: 0;

        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
}

.another-container {
        width: 1440px;
        height: 600px;
        flex-shrink: 0;

        background: var(--NAVY-BLUE, #2E2F42);

}

.name {
    width: 496px;
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;

}